<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson04.dao.SellerDAO">
 	<insert id="addSeller" parameterType="map">
 	insert into `seller`
 	(
 		nickname,
 		profileImageUrl,
 		temperature
 	)
 	values
 	(
 		#{nickname},
 		#{profileImageUrl},
 		#{temperature}
 	)
 	</insert>
 	<select id="getSeller">
 	select
 		*
 	from 
 		`seller`
 	order by 
 		id desc
 	limit 1
 	</select>
 </mapper>