<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.lesson06.dao.UrlDAO">
	<insert id="insertUrl" parameterType="map">
		insert into 
			`url`
			(name, url)
		values
			(#{name}, #{url})
			
		
	</insert>
	
	<select id="selectAll" resultType="com.example.lesson06.model.Url">
		select
			*
		from
			`url`
	</select>
	
	<select id="selectByUrl"  resultType="com.example.lesson06.model.Url">
		select
			*
		from
			url
		where
			url = #{url}
	</select>
	
	<delete id="deleteById">
		delete from
			`url`
		where
			id=#{id}
	</delete>
</mapper>