.main {
	
	.main-img {
		display: block;
		width: 100%;
	}
	
	.content1 {
		height: 250px;
		background-color: brown;
		color: white;
		
		
		.ppp1 {
			background-color: #a44200;
			font-size: 2em;
		}
		
		.ppp2 {
			background-color:#8d6e63;
			font-size: 1.3em;
			
			.temp1 {
				padding-bottom: 5px;
			}
		}
		
		.ppp3 {
			background-color: #a44200;
			font-size: 2em;
		}
	}

}